body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: cornsilk;
    color: black;
}

html,
body {
    margin: 0;
    height: 100%;
}

div.gauges {
    width: 100%;
    margin: auto;
}

A:link {
    color: rgb(95, 62, 1);
}

A:visited {
    color: rgb(112, 84, 16);
}

A:hover {
    color: #705208;
}

canvas {
    display: block;
    width: 300px;
    margin: auto;
}

h1 {
    color: cornsilk;
    background-color: #8e2d18;
    font-size: x-large;
    padding: 10px;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-align: center;

}

#firmware {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: xx-small;
    color: #caa299;
    margin-bottom: 1em;
    text-transform: lowercase;
    padding-top: 2ex;
    border-top: 1px solid;
    border-top-color: #8e2d18;
    /* Red */
}



div.hardwareswitches {

    display: block;
    padding: 1em;
    min-width: 295px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



div.switchlabel {
    text-align: center;
    margin-top: 3ex;
    margin-bottom: 1ex;
}


div.buttonwrapper div {
    display: inline-block;
    color: cornsilk;
    text-align: center;
    border-color: black;
    border: solid #000;
    margin: 4px;
    padding: 3px;
    border-width: 1 1px;
    border-radius: 12px;
    width: 40%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.buttonwrapper a {
    color: cornsilk;
    text-decoration: none;
}

div.buttonwrapper a:visited {
    color: cornsilk;
}

div.buttonOn {
    background-color: #8e2d18;
}

div.buttonOff {
    background-color: #555259;
}

div.buttonPressed {
    background-color: #4e312b;
}

.Settings {
    border-top: 1px solid;
    margin-top: 5px;

    padding-top: 15px;
    padding-bottom: 15px;
}

a#settingbutton,
input,
button {
    color: rgb(0, 0, 0);
    text-align: center;
    border-color: black;
    border: solid #000;
    margin: 4px;
    padding: 3px;
    border-width: 1 1px;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: ##ffffff5c;
}

div#notFoundInfo {
    width: 80%;
    margin: auto;
}

div#notFoundURI {
    font-size: large;
}

span#notFoundURL {
    font-family: 'Courier New', Courier, monospace;
}

div.notFoundArgument {
    padding-left: 5ex;
}

span.notFoundarg {
    font-family: 'Courier New', Courier, monospace;
}

span.notFoundargName {
    display: inline-block;
    min-width: 12ex;
}

div#graph {
    background-color: lightgray;
}

#configform {
    margin-left: 3%;
    margin-right: 3%;
}

.formParameterValuePair {
    border-top: .5px dotted black;
    display: grid;
    grid-template-columns: minmax(180px, 0.6fr) 1fr;
    margin-top: 1ex;

}

.formValue input {
    background-color: #e0e0e0;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
    width: 15ex;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.PIDParameterValuePair {
    display: grid;
    grid-template-columns: minmax(22px, .1fr) 1fr;


}

.formParameterValuePair.PID {
    margin-top: 3ex;
}

.ManagementAndPower {
    margin: 5ex;
    grid-template-columns: 1fr 1fr;

}

.Management {

    /*display: grid;*/

    margin-left: 3%;

    grid-template-columns: minmax(150px, 0.2fr) 1fr;
}

.Management input {
    width: 30%;
    min-width: 170px;
}

.Management div button {
    margin-top: 2ex;
    width: 50%;
    min-width: 160px;
    max-width: 200px
}

#configAPI {
    border-top: 1px dotted cornsilk;
    border-bottom: 1px dotted cornsilk;
}

.configblock {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    width: 48%;
}

#resetdiv {
    background-color: #8e2d18;
}

form {
    border-top: 1px solid cornsilk;
    padding-top: 1ex;
    border-bottom: 1px solid cornsilk;
    padding-bottom: 1ex;
    /*  display:grid;
    grid-template-columns: 1fr 1fr;*/
    margin: 1ex;
}

.footermaterial {
    margin: 5ex;
}

#StatsReporting {
    background-color: lightgray;
    color: black;
    height: 110px;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
}

#ConfigReporting {
    background-color: lightgray;
    color: black;
    height: 5ex;
    font-family: 'Courier New', Courier, monospace;
}

#EspressoMachinePNG img {
    width: 10%;
    margin-left: 3%;
    margin-top: -70px
}

.numberplaceholder {
    display: inline-block;
    position: relative;
    width: .3ex;

}

#number32 {
    letter-spacing: 0.1em;
    position: absolute;
    transform-origin: left;
    transform: rotate(-33deg);
    top: 0ex;
    left: -1.9ex;
    color: burlywood
}

/* Graph color */
.axis {
    color: black;
}

/* Elements used for configuration */
/*  From CODEPEN.IO https://codepen.io/shanker-kumar/pen/MGqwoN */
.wave {
    display: inline-block;
    border: 2px solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    border-style: solid;
    margin: 2px;
    color: black;
    zoom: 1;
 
}

.waveStrength-3 .wv4.wave,
.waveStrength-2 .wv4.wave,
.waveStrength-2 .wv3.wave,
.waveStrength-1 .wv4.wave,
.waveStrength-1 .wv3.wave,
.waveStrength-1 .wv2.wave,
.waveStrength-0 .wv4.wave,
.waveStrength-0 .wv3.wave,
.waveStrength-0 .wv2.wave,
.waveStrength-0 .wv1.wave {
    border-top-color: rgb(198, 18, 18);
}
.wv0.wave {
    color:transparent;
}


.wifiSymbol{
    margin-bottom: -22px;
    width:35px;
}
.SecurityField{
    min-width: 100px;
}
.SSIDField{
    min-width: 150px;
}
/* Display as a table */
.networkSelection{
    
    display:  table;
    width:auto;
    border:1px solid  #fafafa;

}
.tableRow {
    /* These are rows */
    display:table-row;
    width: auto;
}
.tableField{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
  /*    background-color:#ccc;*/
}

#powerGauge {
    width:90%;
}
.networktable{
    display: block;
}
.redCross { 

    display: inline-block;
}
.redCross img{
    width: 15px;
}
.nettableLabel {
    display: inline-block;
    width: 3em;
}

.nettableLabel label {
    display:inline-block;
}
.wrapperblock {
    max-width:320px;
}
#MQTTSettings fieldset{
    width: 320px;
}
#MQTTSettings input {
    width: 225px;;
    padding: 3px;
}
#selectedNetworks input {
    width: 225px;;
    padding: 3px;
}